oci_tenancy_ocid     = "ocid1.tenancy.oc1.."
oci_user_ocid        = "ocid1.user.oc1.."
oci_fingerprint      = "23:23:..."
oci_private_key_path = "~/.oci/oci_api_key.pem"
oci_region           = "us-chicago-1"
oci_compartment_ocid = "ocid1.tenancy.oc1..alksdjf"
oci_availability_domain = ""
oci_vm_image_ocid = ""
# oci_admin_cidr       = "<your-ip>/32"
# oci_ssh_public_key   = "ssh-ed25519 alksdfj <email>"

gcp_project          = "project-id"
gcp_region           = "us-central1"
gcp_credentials_file = "~/.gcp/service-account.json"